@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/RobotoMono-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.icons {
  width: 20px;
  height: 20px;
}

.bgChange {
  padding: 0 5px;
  background-color: #646669;
  color: #3c393f;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.words-wrapper {
  width: 80vw; /* 80% of viewport width */
  overflow: hidden; /* or scroll/auto based on your design */
}

.overfl {
  overflow-wrap: break-word; /* or word-wrap: break-word; */
}

.colorless {
  color: #646669;
}

.correct-char {
  color: white;
}

.incorrect-char {
  color: red;
}
.blinking-cursor {
  animation: blinkCursor 3s infinite;
}

.active-char {
  border-right: 2px solid #ffff00; /* Set the border color for the active character */
  animation: blinkBorder 0.8s infinite;
}

@keyframes blinkBorder {
  50% {
    border-color: transparent;
  }
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}







/* result css  */

.group {
  display: flex;
  flex-direction: column;
}

.top {
  color: #5e6063;
}

.bottom {
  color: #e2b714;
}

.size {
  font-size: xx-large;
}

.login {
  border-bottom: 1px solid #5e6063;
}
